@import 'init.css';

#main-container {
  max-width: 600px;
}

#about-container ul,
#about-container p {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 1.6;
}

#about-container section h2 {
  font-size: 15px;
}

#about-container section > h2 {
  margin-bottom: 10px;
}

#about-container section > ul {
  list-style: none;
}

#about-container section > ul > li {
  margin-bottom: 5px;
  line-height: 170%;
}

#about-container a {
  text-decoration: underline;
}

#about-container a:hover,
#about-container a:focus {
  text-decoration: none;
  background-color: black;
  color: white;
}

#about-container details {
  display: inline;
  margin-bottom: 25px;
}

#about-container details > ul {
  padding-left: 33px;
  margin-top: 5px;
  line-height: 180%;
}

#about-container details > ul > li {
  margin-top: 10px;
}

#about-container[open=""] > summary {
  background-color: black;
  color: white;
}

#about-container summary {
  cursor: pointer;
  font-size: 15px;
}

#about-container summary > h2 {
  display: inline;
}
