@import 'init.css';
@import 'highlight.css';
@import 'katex.css';

#article-title {
  font-size: 1.5rem;
  font-weight: 700;
}

#article-subtitle {
  display: inline;
  font-size: 1.2rem;
  font-weight: 400;
}

time {
  font-size: 0.8rem;
}

#article-content-container {
  margin-top: 30px;
}

#article-navigation {
  margin-top: 50px;
  overflow: hidden;
}

#article-navigation .article-navigation-item {
  margin-bottom: 1rem;
}

#article-navigation .article-navigation-arrow {
  font-size: 0.9rem;;
}

#article-navigation .article-navigation-next {
  text-align: left;
  float: left;
  margin-right: 5px;
}

#article-navigation .article-navigation-prev {
  text-align: right;
  float: right;
  margin-left: 5px;
}

#article-navigation .article-navigation-title {
  font-weight: 700;
  font-size: 1rem;
}

#article-navigation .article-navigation-subtitle {
  font-weight: 400;
  font-size: 0.8rem
}

#article-navigation a:hover {
  color: #005ccc;
}

div.back-to-article-list {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#article-comments .utterances {
  max-width: 100%;
  margin: 0;
}

#article-content-container h1,
#article-content-container h2,
#article-content-container h3,
#article-content-container h4,
#article-content-container h5,
#article-content-container h6 {
  margin-bottom: 1rem;
  font-weight: 700;
}

#article-content-container h2 {
  font-size: 1.4rem;
  padding-bottom: 5px;
  border-bottom: 1px black solid;
}

#article-content-container h3 {
  font-size: 1.3rem;
}

#article-content-container h4 {
  font-size: 1.2rem;
}

#article-content-container h5 {
  font-size: 1.1rem;
}

#article-content-container p {
  font-size: 1rem;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}

#article-content-container img {
  max-width: 100%;
  height: auto;
}

#article-content-container p > img {
  margin-bottom: -7px;
}

#article-content-container img + em {
  display: block;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

#article-content-container > ul,
#article-content-container > ol {
  margin-bottom: 1rem;
}

#article-content-container ul,
#article-content-container ol{
  margin-left: 2rem;
}

#article-content-container li {
  line-height: 1.7rem;
}

#article-content-container a {
  color: #005ccc;
}

#article-content-container a:hover,
#article-content-container a:focus {
  text-decoration: underline;
}

#article-content-container pre {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  line-height: 1.3rem;
  background-color: #f6f8fa;
}

#article-content-container code,
#article-content-container code span {
  font-family: 'RobotoMono VF', monospace;
}

#article-content-container p code,
#article-content-container li code {
  word-break: break-word;
}

#article-content-container blockquote {
  border-left: 3px #DFDFDF solid;
  padding-left: 15px;
}

#article-content-container table {
  margin-bottom: 1rem;
  border-spacing: unset;
  border-collapse: collapse;
  width: 100%;
}

#article-content-container thead {
  background-color: #f6f8fa;
}

#article-content-container th,
#article-content-container td {
  padding: 5px 10px 5px 10px;
  border: 1px black solid;
}

#article-content-container sup {
  font-size: 11px;
  line-height: 0;
}

#article-content-container details {
  display: inline;
  margin-bottom: 25px;
}

#article-content-container summary {
  font-weight: 700;
  cursor: pointer;
}

#article-content-container .table-of-contents {
  font-size: 15px;
  margin-bottom: 30px;
}

#article-content-container .table-of-contents ul {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding-left: 1rem;
}

#article-content-container .table-of-contents ul li:before {
  content: counters(item, ".") ". ";
  counter-increment: item
}

#article-content-container section {
  margin-bottom: 15px;
  overflow: auto;
}

#article-content-container .katex-display {
  margin: 0;
}

#article-content-container section .katex * {
  font-family: 'Times New Roman', serif;
  font-size: 1.1rem;
}

#article-content-container p .katex * {
  font-family: 'Times New Roman', serif;
  font-size: 1.1rem;
}

#article-content-container p .katex .msupsub * {
  font-size: 11px;
}

#article-content-container .footnotes {
  margin-left: -1rem;
}

#article-content-container .footnotes-sep {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 0;
  border-bottom: 1px black solid;
}

#article-content-container .footnotes > .footnotes-list {
  padding: 0;
  font-size: 0.9rem;
  counter-reset: list;
}

#article-content-container .footnotes > .footnotes-list > .footnote-item {
  list-style-position: inherit;
  list-style: none;
  margin: 2px;
}

#article-content-container .footnotes > .footnotes-list > .footnote-item:before {
  content: "[" counter(list) "] ";
  counter-increment: list;
}

#article-content-container .footnotes > .footnotes-list > .footnote-item > p {
  display: inline;
}

#article-content-container .footnotes > .footnotes-list a.footnote-backref {
  font-family: 'Pretendard VF', sans-serif;
}
