@import 'init.css';
@import 'list.css';

ul#articles-container {
  list-style: none;
}

ul#articles-container > li span.heading {
  font-size: 1rem;
  font-weight: 650;
}

ul#articles-container > li span.subheading {
  font-weight: 400;
}

ul#articles-container > li time {
  font-size: 0.8rem;
  font-weight: 400;
}

ul#articles-container > li {
  width: fit-content;
  margin-bottom: 7px;
}
