@import 'init.css';
@import 'list.css';

section#index-container a {
  color: #0366d6;
}

section#index-container a:hover {
  text-decoration: underline;
}

section#index-container p {
  margin-bottom: 1em;
}
