@use "init" as *;

body {
  max-width: 1500px;
}

main {
  display: grid;
  grid-template-columns:
    minmax(0, 3fr) minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4.5fr);
  gap: 2rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.1rem;
}

section {
  > h3 {
    font-size: 1.1rem;
    font-weight: 200;
    margin: 0;
    margin-bottom: 1.1rem;
  }

  > p {
    margin: 0;
  }

  > details > summary {
    width: fit-content;
  }

  > ul > li,
  > details > ul > li {
    margin-bottom: 1.1rem;
  }

  // INTRO
  &.intro {
    grid-row: 2;
    grid-column: 1 / 3;
    font-size: 1.1rem;
    line-height: 1.8rem;

    > p {
      margin-top: 1.1rem;

      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }

  // AVATAR
  &.avatar {
    grid-row: 2;
    grid-column: 3 / 4;
    justify-self: end;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin: 1.6rem -0.3rem 0 0;
    }
  }

  // LINKS
  &.links {
    grid-row: 2;
    grid-column: 4 / -1;

    li {
      margin-bottom: 0.4rem;
    }

    a {
      color: $color-link-external;
      word-break: break-all;
    }

    a::before {
      background-color: $color-link-external;
      vertical-align: middle;
      width: 0.9rem;
      height: 0.9rem;
      margin: 0 0.3rem 0.2rem 0;
      display: inline-block;
    }

    a[href*="gmail.com"]::before {
      content: "\00a0";
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z'/%3E%3C/svg%3E");
    }

    a[href*="github.com"]::before {
      content: "\00a0";
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
    }

    a[href*="linkedin.com"]::before {
      content: "\00a0";
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z'/%3E%3C/svg%3E");
    }

    a[href*="social.silicon.moe"]::before {
      content: "\00a0";
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M23.268 5.313c-.35-2.578-2.617-4.61-5.304-5.004C17.51.242 15.792 0 11.813 0h-.03c-3.98 0-4.835.242-5.288.309C3.882.692 1.496 2.518.917 5.127.64 6.412.61 7.837.661 9.143c.074 1.874.088 3.745.26 5.611.118 1.24.325 2.47.62 3.68.55 2.237 2.777 4.098 4.96 4.857 2.336.792 4.849.923 7.256.38.265-.061.527-.132.786-.213.585-.184 1.27-.39 1.774-.753a.057.057 0 0 0 .023-.043v-1.809a.052.052 0 0 0-.02-.041.053.053 0 0 0-.046-.01 20.282 20.282 0 0 1-4.709.545c-2.73 0-3.463-1.284-3.674-1.818a5.593 5.593 0 0 1-.319-1.433.053.053 0 0 1 .066-.054c1.517.363 3.072.546 4.632.546.376 0 .75 0 1.125-.01 1.57-.044 3.224-.124 4.768-.422.038-.008.077-.015.11-.024 2.435-.464 4.753-1.92 4.989-5.604.008-.145.03-1.52.03-1.67.002-.512.167-3.63-.024-5.545zm-3.748 9.195h-2.561V8.29c0-1.309-.55-1.976-1.67-1.976-1.23 0-1.846.79-1.846 2.35v3.403h-2.546V8.663c0-1.56-.617-2.35-1.848-2.35-1.112 0-1.668.668-1.67 1.977v6.218H4.822V8.102c0-1.31.337-2.35 1.011-3.12.696-.77 1.608-1.164 2.74-1.164 1.311 0 2.302.5 2.962 1.498l.638 1.06.638-1.06c.66-.999 1.65-1.498 2.96-1.498 1.13 0 2.043.395 2.74 1.164.675.77 1.012 1.81 1.012 3.12z'/%3E%3C/svg%3E");
    }

    a[href*="bsky.app"]::before {
      content: "\00a0";
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M5.202 2.857C7.954 4.922 10.913 9.11 12 11.358c1.087-2.247 4.046-6.436 6.798-8.501C20.783 1.366 24 .213 24 3.883c0 .732-.42 6.156-.667 7.037-.856 3.061-3.978 3.842-6.755 3.37 4.854.826 6.089 3.562 3.422 6.299-5.065 5.196-7.28-1.304-7.847-2.97-.104-.305-.152-.448-.153-.327 0-.121-.05.022-.153.327-.568 1.666-2.782 8.166-7.847 2.97-2.667-2.737-1.432-5.473 3.422-6.3-2.777.473-5.899-.308-6.755-3.369C.42 10.04 0 4.615 0 3.883c0-3.67 3.217-2.517 5.202-1.026'/%3E%3C/svg%3E");
    }
  }

  // WORK EXPERIENCE and EDUCATION
  &.career {
    grid-column: 1 / 2;
  }

  // ARTICLES
  &.articles {
    grid-column: 2 / 3;

    details summary {
      cursor: pointer;
      font-size: 1.1rem;
      margin-bottom: 1.1rem;
      font-weight: 200;
    }
  }

  // PROJECTS
  &.projects {
    grid-column: 3 / 4;
  }

  // PRESS and CONTRIBUTIONS
  &.news {
    grid-column: 4 / -1;

    a {
      color: $color-link-external;
    }

    a::before {
      background-color: $color-link-external;
      vertical-align: middle;
      width: 0.9rem;
      height: 0.9rem;
      margin: 0 0.3rem 0.2rem 0;
      display: inline-block;
    }

    a[href*="github.com"][href*="/issues"]::before {
      content: "\00a0";
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 20a8 8 0 1 0 0-16a8 8 0 0 0 0 16m0 2C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10m0-8a2 2 0 1 1 0-4a2 2 0 0 1 0 4'/%3E%3C/svg%3E");
    }

    a[href*="github.com"][href*="/pull"]::before {
      content: "\00a0";
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M15 5h2a2 2 0 0 1 2 2v8.17a3.001 3.001 0 1 1-2 0V7h-2v3l-4.5-4L15 2zM5 8.83a3.001 3.001 0 1 1 2 0v6.34a3.001 3.001 0 1 1-2 0zM6 7a1 1 0 1 0 0-2a1 1 0 0 0 0 2m0 12a1 1 0 1 0 0-2a1 1 0 0 0 0 2m12 0a1 1 0 1 0 0-2a1 1 0 0 0 0 2'/%3E%3C/svg%3E");
    }
  }
}

.sections {
  grid-row: 3;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

// NARROW VIEW
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }

  .sections {
    display: flex;
    flex-direction: column;
  }

  section {
    &.intro,
    &.avatar,
    &.links {
      grid-row: auto;
      grid-column: 1 / -1;
    }

    &.avatar {
      display: none;
    }

    &.intro {
      margin-top: 2rem;
    }

    &.articles {
      order: 1;
    }

    &.projects {
      order: 2;
    }

    &.career {
      order: 3;
    }

    &.news {
      order: 4;
    }
  }

  .sections {
    grid-row: auto;
    grid-column: 1 / -1;
  }
}
