@font-face {
  font-family: 'Noto Serif VF';
  src: url('https://cdn.jsdelivr.net/gh/parksb/cdn@master/font/NotoSerifKR/woff2/NotoSerifKR-VF-Distilled.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard VF';
  src: url('https://cdn.jsdelivr.net/gh/parksb/cdn@master/font/Pretendard/woff2/PretendardKR-VF-Distilled-Specials.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'RobotoMono VF';
  src: url('https://cdn.jsdelivr.net/gh/parksb/cdn@master/font/RobotoMono/woff2/RobotoMono-VF-Distilled.woff2') format('woff2');
  font-display: swap;
}

* {
  font-family: 'Noto Serif VF', serif;
  margin: 0;
  padding: 0;
  word-break: keep-all;
  font-feature-settings: normal;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 16px;
  margin: auto;
  padding: 20px 30px 50px 30px;
}

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #005ccc;
}

.symbol {
  font-family: 'Pretendard VF', sans-serif;
}

img.icon {
  display: inline;
  margin-right: 1px;
  max-width: 0.8rem;
  max-height: 0.8rem;
}

time {
  font-family: 'RobotoMono VF', monospace;
}

#main-container {
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#top-container span.t1 {
  font-size: 1.5rem;
  font-weight: 800;
}

#top-container span.t2 {
  font-size: 1rem;
  font-weight: 400;
}

footer {
  font-size: 0.8rem;
  color: #767676;
}
