#main-container > ul > li {
  margin-top: 0.5rem;
  list-style: none;
  font-size: 1.3rem;
  font-weight: 700;
}

#main-container > ul > .selected-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
