@import 'init.css';
@import 'list.css';

ul#works-container {
  list-style: none;
}

ul#works-container > li span.heading {
  font-size: 1rem;
  font-weight: 650;
}

ul#articles-container > li span.subheading {
  font-weight: 400;
}

ul#works-container > li {
  width: fit-content;
  margin-bottom: 7px;
}

ul#works-container img.thumbnail {
  display: none;
  position: absolute;
  width: 150px;
  height: auto;
  border: 1px solid black;
  left: 55px;
}

ul#works-container > li:hover img.thumbnail {
  display: block;
}
