@import 'init.css';
@import 'list.css';

section#works-container {
  max-width: 650px;
  -webkit-columns: 120px 5;
  -moz-columns: 120px 5;
  columns: 150px 5;
}

section#works-container .works-content {
  width: 150px;
  display: inline-block;
  line-height: 0;
  margin-bottom: 15px;
}

section#works-container div.works-content > img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin-bottom: 3px;
}

section#works-container span.heading {
  font-size: 0.9em;
  line-height: 1.3em;
  font-weight: 700;
}
