@import 'init.css';

#work-container #work-title {
  width: auto;
  font-size: 1.5em;
  font-weight: 700;
}

#work-container #work-subtitle {
  font-size: 1.2em;
  word-break: keep-all;
  font-weight: 400;
}

#work-container img {
  display: block;
  max-width: 500px;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid black;
  height: auto;
}

#work-container #work-content-container {
  margin-top: 30px;
}

#work-container p {
  font-size: 1em;
  line-height: 1.7em;
  margin-bottom: 1em;
}

#work-container div.back-to-work-list {
  font-size: 1em;
  margin-bottom: 1em;
}

#work-content-container a {
  color: #005ccc;
}

#work-content-container a:hover,
#work-content-container a:focus {
  text-decoration: underline;
}
