@import 'init.css';

#work-container #work-title {
  width: auto;
  font-size: 1.5rem;
  font-weight: 700;
}

#work-container #work-subtitle {
  font-size: 1.2rem;
  word-break: keep-all;
  font-weight: 400;
}

#work-container img {
  display: block;
  max-width: 500px;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid black;
  height: auto;
}

#work-container #work-content-container {
  margin-top: 30px;
}

#work-container p {
  font-size: 1rem;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}

#work-container div.back-to-work-list {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#work-content-container a {
  color: #005ccc;
}

#work-content-container a:hover,
#work-content-container a:focus {
  text-decoration: underline;
}

#work-content-container > ul,
#work-content-container > ol {
  margin-bottom: 1rem;
}

#work-content-container ul,
#work-content-container ol{
  margin-left: 2rem;
}

#work-content-container li {
  line-height: 1.7rem;
}
