/* noto-serif-kr-regular - latin_korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/noto-serif-kr-v3-latin_korean-regular.eot");
  /* IE9 Compat Modes */
  src: local("SourceHanSerif-Regular"), local("Noto Serif KR"), local("NotoSerifKR-Regular"), url("../../assets/fonts/noto-serif-kr-v3-latin_korean-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noto-serif-kr-v3-latin_korean-regular.woff2") format("woff2"), url("../../assets/fonts/noto-serif-kr-v3-latin_korean-regular.woff") format("woff"), url("../../assets/fonts/noto-serif-kr-v3-latin_korean-regular.svg#NotoSerifKR") format("svg");
  /* Legacy iOS */ }

/* ubuntu-mono-regular - latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/ubuntu-mono-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu Mono"), local("UbuntuMono-Regular"), url("../../assets/fonts/ubuntu-mono-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/ubuntu-mono-v8-latin-regular.woff2") format("woff2"), url("../../assets/fonts/ubuntu-mono-v8-latin-regular.woff") format("woff"), url("../../assets/fonts/ubuntu-mono-v8-latin-regular.ttf") format("truetype"), url("../../assets/fonts/ubuntu-mono-v8-latin-regular.svg#UbuntuMono") format("svg");
  /* Legacy iOS */ }

/* ubuntu-mono-700 - latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/ubuntu-mono-v8-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu Mono Bold"), local("UbuntuMono-Bold"), url("../../assets/fonts/ubuntu-mono-v8-latin-700.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/ubuntu-mono-v8-latin-700.woff2") format("woff2"), url("../../assets/fonts/ubuntu-mono-v8-latin-700.woff") format("woff"), url("../../assets/fonts/ubuntu-mono-v8-latin-700.ttf") format("truetype"), url("../../assets/fonts/ubuntu-mono-v8-latin-700.svg#UbuntuMono") format("svg");
  /* Legacy iOS */ }

#main-container {
  max-width: 800px;
  margin: auto;
  margin-top: 90px; }

#article-title {
  font-size: 24px;
  font-weight: 700; }

#article-subtitle {
  display: inline;
  font-size: 20px;
  font-weight: 400; }

#article-date {
  font-size: 12px;
  color: #C0C0C0; }

#article-content-container {
  margin-top: 30px; }

#article-social-container {
  margin-top: 40px;
  font-size: 10px; }
  #article-social-container #fb-like {
    top: -3px; }

#article-comments {
  margin-top: 10px; }
  #article-comments .utterances {
    margin: 0; }

#article-content-container h1,
#article-content-container h2,
#article-content-container h3,
#article-content-container h4,
#article-content-container h5,
#article-content-container h6 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 700; }

#article-content-container h1 {
  font-size: 22px;
  border-bottom: 1px black solid;
  padding-bottom: 5px; }

#article-content-container h2 {
  font-size: 20px; }

#article-content-container h3 {
  font-size: 18px; }

#article-content-container h4 {
  font-size: 16px; }

#article-content-container p {
  font-size: 16px;
  line-height: 200%;
  margin-bottom: 15px; }

#article-content-container img {
  max-width: 100%;
  margin-top: 5px; }

#article-content-container ul,
#article-content-container ol {
  padding-left: 20px;
  margin-bottom: 20px; }

#article-content-container li {
  list-style-position: inside;
  line-height: 200%;
  margin-top: 10px; }

#article-content-container a {
  text-decoration: underline; }
  #article-content-container a:hover {
    text-decoration: none;
    background-color: black;
    color: white; }

#article-content-container pre {
  padding: 15px 20px 20px 20px;
  margin-top: 25px;
  margin-bottom: 25px; }

#article-content-container code,
#article-content-container code span {
  font-family: 'Ubuntu Mono', 'Consolas', 'Monaco', 'Andale Mono', monospace; }

#article-content-container p code,
#article-content-container li code {
  background-color: #EEEEEE;
  padding: 0 5px 0 5px; }

#article-content-container blockquote {
  border-left: 3px #DFDFDF solid;
  padding-left: 10px; }

#article-content-container blockquote p {
  font-family: 'Noto Serif KR', serif;
  font-style: italic; }

#article-content-container table {
  border-spacing: unset;
  border-collapse: collapse;
  width: 100%; }

#article-content-container th,
#article-content-container td {
  padding: 5px 10px 5px 10px;
  border: 1px black solid; }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282a36; }

.hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-section, .hljs-link {
  color: #8be9fd; }

.hljs-function .hljs-keyword {
  color: #ff79c6; }

.hljs, .hljs-subst {
  color: #f8f8f2; }

.hljs-string, .hljs-title, .hljs-name, .hljs-type, .hljs-attribute, .hljs-symbol, .hljs-bullet, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable {
  color: #f1fa8c; }

.hljs-comment, .hljs-quote, .hljs-deletion, .hljs-meta {
  color: #6272a4; }

.hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-title, .hljs-section, .hljs-doctag, .hljs-type, .hljs-name, .hljs-strong {
  font-weight: bold; }

.hljs-emphasis {
  font-style: italic; }
