/* noto-sans-kr-100 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url("../../assets/fonts/noto-sans-kr-v8-latin_korean-100.eot");
  /* IE9 Compat Modes */
  src: local("SourceHanSans-Light"), local("Noto Sans KR Thin"), local("NotoSansKR-Thin"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-100.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-100.woff2") format("woff2"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-100.woff") format("woff"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-100.svg#NotoSansKR") format("svg");
  /* Legacy iOS */ }
/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/noto-sans-kr-v8-latin_korean-regular.eot");
  /* IE9 Compat Modes */
  src: local("SourceHanSans-Regular"), local("Noto Sans KR Regular"), local("NotoSansKR-Regular"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-regular.woff2") format("woff2"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-regular.woff") format("woff"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-regular.svg#NotoSansKR") format("svg");
  /* Legacy iOS */ }
/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/noto-sans-kr-v8-latin_korean-700.eot");
  /* IE9 Compat Modes */
  src: local("SourceHanSans-Bold"), local("Noto Sans KR Bold"), local("NotoSansKR-Bold"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-700.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-700.woff2") format("woff2"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-700.woff") format("woff"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-700.svg#NotoSansKR") format("svg");
  /* Legacy iOS */ }
/* noto-sans-kr-900 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url("../../assets/fonts/noto-sans-kr-v8-latin_korean-900.eot");
  /* IE9 Compat Modes */
  src: local("SourceHanSans-Heavy"), local("NotoSansKR-Black"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-900.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-900.woff2") format("woff2"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-900.woff") format("woff"), url("../../assets/fonts/noto-sans-kr-v8-latin_korean-900.svg#NotoSansKR") format("svg");
  /* Legacy iOS */ }
* {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  word-break: keep-all;
  font-feature-settings: normal;
  text-rendering: optimizeLegibility; }

body {
  margin: auto;
  padding: 20px 30px 50px 30px; }

a {
  color: black;
  text-decoration: none;
  cursor: pointer; }

#top-container {
  background-color: white;
  position: fixed;
  width: 190px;
  padding-right: 5px;
  padding-bottom: 5px;
  z-index: 999; }
  #top-container h1 {
    font-size: 24px;
    display: inline;
    font-weight: 900; }
  #top-container small {
    display: block;
    font-size: 12px;
    font-weight: 100; }
  #top-container .logo-link span {
    font-size: 14px;
    font-weight: 400; }
  #top-container .logo-link:hover {
    color: white;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black; }
  #top-container .info-lnk:hover {
    color: white;
    background-color: black; }

#main-container {
  margin-top: 90px;
  margin-bottom: 50px; }

/*# sourceMappingURL=init.css.map */
