#top-container {
  background-color: white;
  position: fixed;
  width: 190px;
  padding-bottom: 5px;
  z-index: 999; }
  #top-container h1 {
    font-size: 24px;
    display: inline;
    font-weight: 900; }
  #top-container small {
    display: block;
    font-size: 13px;
    font-weight: 100; }
  #top-container .logo-link span {
    font-size: 14px;
    font-weight: 400; }
  #top-container .logo-link:hover {
    color: white;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black; }
  #top-container .info-link:hover {
    color: white;
    background-color: black; }
