#about-container {
  ul,
  p,
  table {
    margin-bottom: 30px;
  }

  li,
  p,
  td {
    font-size: 16px;
  }

  ul {
    list-style: none;
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: black;
      color: white;
    }
  }
  
  table {
    width: 100%;

    .date {
      width: 130px;
    }
  }
}