#articles-container {
  margin-top: 30px;

  h2, h3 {
    display: inline;
    font-size: 18px;
    font-weight: 700;
  }

  h4 {
    display: inline;
    font-size: 14px;
    font-weight: 400;
  }

  ul {
    margin-top: 30px;
  }
}
