#works-container {
  max-width: 900px;
  min-width: 200px;
  margin-top: 10px;
  margin-left: -10px;
  -webkit-columns: 100px 100;
  -moz-columns: 100px 100;
  columns: 100px 100;

  .works-content {
    width: 100px;
    display: inline-block;
    padding: 10px;
    line-height: 12px;
  
    &:hover {
      background-color: black;
      color: white;
    }

    img {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      margin-bottom: 5px;
    }
  }

  h1 {
    display: inline;
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
  }
}