<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>Park Seong-beom</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#F5F5F5">
  <link rel="canonical" href="https://parksb.github.io/about.html" />

  <meta property="og:title" content="Park Seong-beom">
  <meta property="og:image" content="https://user-images.githubusercontent.com/6410412/55271767-bf369000-52f5-11e9-8fe1-ae83cb137fe9.png">
  <meta property="og:description" content="박성범 (Park Seong-beom)">

  <meta name="twitter:title" content="Park Seong-beom">
  <meta name="twitter:description" content="박성범 (Park Seong-beom)">
  <meta name="twitter:image" content="https://user-images.githubusercontent.com/6410412/55271767-bf369000-52f5-11e9-8fe1-ae83cb137fe9.png">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="preload" href="../src/scss/init.scss" as="style">
  <link rel="preload" href="../src/scss/about.scss" as="style">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/about.scss">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113147800-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-113147800-1');
  </script>
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <section id="about-container">
      <section>
        <ul>
          <li>
            <a href="mailto:parkgds@gmail.com">parkgds@gmail.com</a>
            <a href="https://parksb.keybase.pub/resume">resume</a>
            <a href="https://github.com/parksb">github</a>
          </li>
          <li>
            <a href="https://twitter.com/caesiumpark">twitter</a>
            <a href="https://facebook.com/parkgds">facebook</a>
            <a href="https://linkedin.com/in/parksb">linkedin</a>
            <a href="https://keybase.io/parksb">keybase</a>
          </li>
          <li>
            <a href="https://github.com/ParkSB/parksb.github.io/blob/development/LICENSE">LICENSE (CC BY-NC 4.0)</a>
          </li>
        </ul>
      </section>

      <section>
        <p>
          박성범은 2주 스프린트에 따라 애자일하게 살고 있는 60% 프로그래머이자, 30% 디자이너입니다.
          8%는 기타, 나머지 2%는 유사시를 대비해 항상 비워두고 있습니다. 스스로에게 필요한 도구를 만들며,
          취미로 <a href="https://parksb.github.io/article/32.html">야크 털을 깎습니다.</a>
        </p>
      </section>

      <section>
        <details>
          <summary><h2>Don't know, don't care</h2></summary>
          <ul>
            <li>
              프로그래밍을 합니다. 코드는 훌륭한 문제 해결 도구라고 생각합니다.
              가장 능숙한 언어는 <a href="https://www.typescriptlang.org/">TypeScript</a>,
              가장 좋아하는 언어는 <a href="https://www.rust-lang.org/">Rust</a>입니다.
              프론트엔드 스택은 <a href="https://reactjs.org/">React</a>와
              <a href="https://styled-components.com/">styled-components</a>의 조합을 가장 선호합니다.
              <a href="https://www.docker.com/">Docker</a>,
              <a href="https://aws.amazon.com/">AWS</a>,
              <a href="https://microservices.io/">MSA</a> 등의 환경에 익숙하며,
              <a href="https://spring.io/">Spring</a>과는 애증의 관계입니다.
            </li>
            <li>
              디자인을 합니다. 특히 디지털 환경에서의 활자 표현에 관심이 많습니다.
              아름다운 포스터와 책 표지를 찾아다닙니다.
              <a href="http://everyday-practice.com/">일상의실천</a>,
              <a href="https://twothree.kr/">twothree</a>의 방향과 작업물을 좋아합니다.
              <a href="http://wkrm.kr/">workroom</a>의 편집 디자인도 좋아합니다.
            </li>
            <li>
              최고의 책은 <a href="https://www.goodreads.com/book/show/62031.The_City_of_Dreaming_Books">꿈꾸는 책들의 도시</a>였습니다.
              인생의 즐거움을 아껴두기 위해 <a href="http://www.zamonien.de/">발터 뫼르스</a> 작가의 다른 소설은 아직 읽지 않았습니다.
            </li>
            <li>
              가장 큰 영향을 받은 가치관은 유물론, 가장 큰 영향을 받고 있는 가치관은 다양성입니다.
              <a href="https://www.mozilla.org/">Mozilla</a> 재단과
              <a href="https://dotface.kr/">닷페이스</a>에 후원하고 있습니다.
              오픈소스 문화를 사랑합니다.
            </li>
            <li>
              거의 모든 환경에서 <a href="https://www.vim.org/">Vim</a>을 사용합니다.
              <a href="https://www.mozilla.org/firefox">Firefox</a> 사용자가 많아지면 좋겠습니다.
              <a href="https://www.adobe.com/products/photoshop.html">Photoshop</a>과
              <a href="https://www.adobe.com/products/illustrator.html">Illustrator</a>를 다룰 수 있습니다.
              <a href="https://www.adobe.com/products/premiere.html">Premiere</a>는 원치 않게 할 줄 압니다.
            </li>
            <li>
              <a href="https://youtu.be/koTb8E5PpKM">130BPM</a> 이상의 음악은 대체로 좋아합니다.
              <a href="https://www.instagram.com/elephant_gym_official">Elephant Gym</a> 앨범에
              불호가 없습니다. 근 3년간 <a href="http://redvelvet.smtown.com/">Red Velvet</a>,
              <a href="http://kihafaces.com/">장기하와 얼굴들</a> 곡을 가장 많이 들었습니다.
            </li>
            <li>
              7살 부터 <a href="https://www.ea.com/games/simcity/simcity-4">SimCity 4</a>를 해왔습니다.
              <a href="https://www.factorio.com/">Factorio</a>는 언제부턴가 의무감으로 하고 있습니다.
            </li>
            <li>
              피자는 페퍼로니, 맥주는 바이젠을 선택합니다. 민트초코는 실용적이라고 생각합니다.
            </li>
          </ul>
        </details>
      </section>

      <section>
        <h2>Press</h2>
        <ul>
          <li>
            <a href="http://news.chosun.com/site/data/html_dir/2015/03/29/2015032901897.html" target="_blank" rel="noopener">
              📰 "상상을 현실로 만드는 소프트웨어... '꿈의 디딤돌'이죠" (조선일보)
            </a>
          </li>
          <li>
            <a href="http://www.hani.co.kr/arti/society/schooling/627624.html" target="_blank" rel="noopener">
              📰 머릿속 아이디어, 포기 않고 10개월 걸려 구현 (한겨레)
            </a>
          </li>
          <li>
            <a href="http://www.newsis.com/ar_detail/view.html?ar_id=NISX20140704_0013026943&amp;cID=10201&amp;pID=10200" target="_blank" rel="noopener">
              📰 "흑역사 지운다"…휘발성 SNS 개발한 17살 동갑내기 (뉴시스)
            </a>
          </li>
          <li>
            <a href="http://news.naver.com/main/read.nhn?mode=LSD&amp;mid=sec&amp;sid1=105&amp;oid=001&amp;aid=0006956623" target="_blank" rel="noopener">
              📰 네이버, SNS '하루' 만든 고등학생 개발자 지원 (연합뉴스)
            </a>
          </li>
          <li>
            <a href="http://www.ohmynews.com/NWS_Web/View/at_pg.aspx?CNTN_CD=A0001958424" target="_blank" rel="noopener">
              📰 중학생들이 만든 새로운 SNS '하루' (오마이뉴스)
            </a>
          </li>
        </ul>
      </section>
    </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
