<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>Simon Park</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#F5F5F5">
  <link rel="canonical" href="https://parksb.github.io/about.html" />

  <meta property="og:title" content="Simon Park">
  <meta property="og:image" content="https://og-image-parksb.vercel.app/%F0%9F%91%80%20**%EB%B0%95%EC%84%B1%EB%B2%94**%20Simon%20Park.png?subtitle=%E2%80%95%20About">
  <meta property="og:description" content="박성범 Simon Park ― About">

  <meta name="twitter:title" content="Simon Park">
  <meta name="twitter:image" content="https://og-image-parksb.vercel.app/%F0%9F%91%80%20**%EB%B0%95%EC%84%B1%EB%B2%94**%20Simon%20Park.png?subtitle=%E2%80%95%20About">
  <meta name="twitter:description" content="박성범 Simon Park ― About">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/about.css" as="style">
  <link rel="stylesheet" href="./styles/about.css">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113147800-1"></script>
  <script async>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-113147800-1');
  </script>
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <section id="about-container">
      <section>
        <ul>
          <li>
            <a href="mailto:parkgds@gmail.com">parkgds@gmail.com</a>
            <a href="https://github.com/parksb">github</a>
          </li>
          <li>
            <a href="https://twitter.com/caesiumpark">twitter</a>
            <a href="https://facebook.com/parkgds">facebook</a>
            <a href="https://linkedin.com/in/parksb">linkedin</a>
            <a href="https://keybase.io/parksb">keybase</a>
          </li>
          <li>
            <a href="https://parksb.github.io/feed.xml">RSS</a>
            <a href="https://github.com/parksb/parksb.github.io/blob/development/LICENSE">LICENSE (CC BY-NC 4.0)</a>
          </li>
        </ul>
      </section>
      <section class="intro">
        4주 스프린트에 따라 애자일하게 살고 있습니다.
        취미로 <a href="https://parksb.github.io/article/32.html">야크 털을 깎습니다.</a>
      </section>
      <section>
        <details>
          <summary><h2>↘↘↘</h2></summary>
          <ul>
            <li>
              대체로 프로그래밍을 합니다. /
              Rust를 동경합니다. /
              Spring과는 애증의 관계입니다. /
              참조 투명한 코드를 보면 행복해집니다.
            </li>
            <li>
              종종 디자인을 합니다. /
              벡터 그래픽을 만들 수 있습니다. /
              표지만 보고 워크룸 프레스 책을 구입한 적이 있습니다. /
              일상의실천 작업물을 보면 행복해집니다.
            </li>
            <li>
              인생의 즐거움을 아끼기 위해 발터 뫼르스 작가의 소설을 다 읽지 않고 남겨뒀습니다.
            </li>
            <li>
              Mozilla Foundation과 한국여성단체연합에 후원하고 있습니다. /
              오픈소스 문화를 사랑합니다.
            </li>
            <li>
              거의 모든 환경에서 Vim을 사용합니다.
            </li>
            <li>
              민트초코는 실용적이라고 생각합니다.
            </li>
          </ul>
        </details>
      </section>
      <section>
        <h2>Press</h2>
        <ul>
          <li>
            <a href="http://news.chosun.com/site/data/html_dir/2015/03/29/2015032901897.html" target="_blank" rel="noopener">
              📰 "상상을 현실로 만드는 소프트웨어... '꿈의 디딤돌'이죠" (조선일보)
            </a>
          </li>
          <li>
            <a href="http://www.hani.co.kr/arti/society/schooling/627624.html" target="_blank" rel="noopener">
              📰 머릿속 아이디어, 포기 않고 10개월 걸려 구현 (한겨레)
            </a>
          </li>
          <li>
            <a href="https://newsis.com/view/?id=NISX20140704_0013026943" target="_blank" rel="noopener">
              📰 "흑역사 지운다"…휘발성 SNS 개발한 17살 동갑내기 (뉴시스)
            </a>
          </li>
          <li>
            <a href="https://www.yna.co.kr/view/AKR20140612088300017" target="_blank" rel="noopener">
              📰 네이버, SNS '하루' 만든 고등학생 개발자 지원 (연합뉴스)
            </a>
          </li>
          <li>
            <a href="http://www.ohmynews.com/NWS_Web/View/at_pg.aspx?CNTN_CD=A0001958424" target="_blank" rel="noopener">
              📰 중학생들이 만든 새로운 SNS '하루' (오마이뉴스)
            </a>
          </li>
        </ul>
      </section>
    </section>
  </main>
</body>
</html>
