<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>박성범 Simon Park</title>

    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <link rel="preload" href="/fonts/Pretendard-VF-Distilled.woff2" as="font" type="font/woff2" crossorigin />

    <link rel="canonical" href="https://parksb.github.io/" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="Recently published articles" href="/feed.xml" />

    <meta name="theme-color" content="#F5F5F5" />
    <meta name="fediverse:creator" content="@parksb@silicon.moe" />
    <meta name="description" content="박성범 Simon Park" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://parksb.github.io/" />
    <meta property="og:title" content="Simon Park" />
    <meta property="og:image" content="https://og-image.parksb.vercel.app/api/parksb-github-io?title=%EB%B0%95%EC%84%B1%EB%B2%94%20Simon%20Park&subtitle=%E2%80%95%20parksb.github.io" />
    <meta property="og:description" content="박성범 Simon Park" />

    <meta name="twitter:title" content="Simon Park" />
    <meta name="twitter:image" content="https://og-image.parksb.vercel.app/api/parksb-github-io?title=%EB%B0%95%EC%84%B1%EB%B2%94%20Simon%20Park&subtitle=%E2%80%95%20parksb.github.io" />
    <meta name="twitter:description" content="박성범 Simon Park" />
    <meta name="twitter:card" content="summary_large_image" />

    <style>{{styles}}</style>
  </head>
  <body>
    <header>
      <a href="/">박성범 <span>Simon Park</span></a>
    </header>
    <main>{{content}}</main>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LKTJ5YFJR2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-LKTJ5YFJR2');
    </script>
  </body>
</html>
