<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>박성범 Simon Park</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#F5F5F5">
    <meta name="description" content="박성범 Simon Park">
    <link rel="canonical" href="https://parksb.github.io/" />

    <meta property="og:title" content="Simon Park">
    <meta property="og:image" content="https://og-image-parksb.vercel.app/%F0%9F%A4%94%20**%EB%B0%95%EC%84%B1%EB%B2%94**%20Simon%20Park.png?subtitle=%E2%80%95%20parksb.github.io">
    <meta property="og:description" content="박성범 Simon Park">

    <meta name="twitter:title" content="Simon Park">
    <meta name="twitter:image" content="https://og-image-parksb.vercel.app/%F0%9F%A4%94%20**%EB%B0%95%EC%84%B1%EB%B2%94**%20Simon%20Park.png?subtitle=%E2%80%95%20parksb.github.io">
    <meta name="twitter:description" content="박성범 Simon Park">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <link rel="preload" href="./styles/index.css" as="style">
    <link rel="stylesheet" href="./styles/index.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X88XDLB5FS"></script>
    <script async>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-X88XDLB5FS');
    </script>
  </head>
  <body>
    <%- include(process.cwd() + '/app/templates/navigation'); %>
    <main id="main-container">
      <ul>
        <li class="selected">About</li>
        <section id="index-container" class="selected-container">
          <p>4주 스프린트에 따라 애자일하게 사는 소프트웨어 엔지니어 <a href="/"><img class="icon" src="/images/icons/me.webp" decoding="async" />박성범</a>입니다.
            취미로 <a href="https://parksb.github.io/article/32.html">야크 털을 깎습니다.</a></p>
          <p><a href="https://www.navercorp.com/"><img class="icon" src="/images/icons/naver.webp" alt="(네이버 아이콘)" decoding="async" />네이버</a> AjaxUI 개발랩에서 프론트엔드 개발자로 인턴십을 했고,
            <a href="https://kakaostyle.com/"><img class="icon" src="/images/icons/kakao.webp" alt="(카카오 아이콘)" decoding="async" />카카오스타일</a> 지그재그UX그룹에서 백엔드 엔지니어로 일했습니다.
            지금은 <a href="https://www.ajou.ac.kr/"><img class="icon" src="/images/icons/ajou.webp" alt="(아주대 아이콘)" decoding="async" />아주대학교</a> 디지털미디어학과에서 공부하고 있습니다.</p>
          <p>연락은 <a href="mailto:parkgds@gmail.com">parkgds@gmail.com</a>으로 부탁드립니다.
            메인테이닝, 컨트리뷰션 중인 오픈소스 프로젝트는 <a href="https://github.com/parksb"><img class="icon" src="/images/icons/github.webp" alt="(GitHub 아이콘)" decoding="async" />GitHub</a>을 참고해주세요.
            그 외에 <a href="https://twitter.com/caesiumpark"><img class="icon" src="/images/icons/twitter.webp" alt="(Twitter 아이콘)" decoding="async" />Twitter</a>와
            <a href="https://linkedin.com/in/parksb"><img class="icon" src="/images/icons/linkedin.webp" alt="(LinkedIn 아이콘)" decoding="async" />LinkedIn</a>에도 프로필이 있으며,
            PGP 공개키는 <a href="https://keybase.io/parksb"><img class="icon" src="/images/icons/keybase.webp" alt="(Keybase 아이콘)" decoding="async" />Keybase</a>에서 확인할 수 있습니다.
            이 사이트의 새 글을 받아보려면 <a href="https://parksb.github.io/feed.xml"><img class="icon" src="/images/icons/rss.webp" alt="(RSS 아이콘)" decoding="async" />RSS</a>를 구독해보세요.</p>
          <p>여가 시간에는 책을 읽습니다.
            읽을 책, 읽고 있는 책, 읽은 책을 <a href="https://docs.google.com/spreadsheets/d/1gq1lIyUSIiKE_4YHhc_vkIVH_LzZA4Zk9aIHFzib2yA"><img class="icon" src="/images/icons/spreadsheet.webp" alt="(Spreadsheet 아이콘)" decoding="async" />책장</a>에서 볼 수 있습니다.</p>
        </section>
        <li><a href="works.html">Works <span class="symbol">↘</span></a></li>
        <li><a href="articles.html">Articles <span class="symbol">↘</span></a></li>
      </ul>
    </main>
    <%- include(process.cwd() + '/app/templates/footer'); %>
  </body>
</html>
