<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <link rel="preload" href="/fonts/Pretendard-VF-Distilled.woff2" as="font" type="font/woff2" crossorigin />

    <link rel="canonical" href="{{url}}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="Recently published articles" href="/feed.xml" />

    <meta name="theme-color" content="#F5F5F5" />
    <meta name="fediverse:creator" content="@parksb@silicon.moe" />
    <meta name="description" content="{{description}}" />

    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:image" content="{{thumbnail}}" />
    <meta property="og:description" content="{{description}}" />

    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:image" content="{{thumbnail}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:card" content="summary_large_image" />

    <style>{{styles}}</style>
  </head>
  <body>
    <header>
      <a href="/">박성범 <span>Simon Park</span></a>
    </header>
    <main>
      <article>{{content}}</article>
    </main>
    <footer>© 박성범</footer>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LKTJ5YFJR2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-LKTJ5YFJR2');
    </script>
  </body>
</html>
